.venv/
venv/
__pycache__/
*.py[cod]
*.db
.env
.env.*
!.env.example

node_modules/
dist/
.angular/

.vercel/

public/*
!public/.gitkeep

backend/uploads/*
!backend/uploads/.gitkeep
.vercel
.env*.local
