.venv/
venv/
__pycache__/
*.py[cod]
*.db
.env
.env.*
!.env.example

node_modules/
dist/
.angular/

.vercel/
.env*.local
.vercel-spa-staging/

public/*
!public/.gitkeep
backend/public/*
!backend/public/.gitkeep
backend/app/public/*
!backend/app/public/.gitkeep

backend/uploads/*
!backend/uploads/.gitkeep
